// Fuentes
$fuente-principal: 'Outfit', sans-serif;
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Fuentes
$fina:200;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 920px;
$xl_desktop: 1200px;

// Colores

$main-color: #033a80;
$dark-mode: #2E4053;
$bg-color: #fff;
$text-color:#1C2833;
$hover: hsl(260, 100%, 51%);

$azulOscuro: #1B2631 ;
$salmon: #FA8072;
$tomato: #FF6347;
$darkTurquesa: #00CED1;
$mediumTurquesa: #48D1CC;
$green:#64ffda;
$MediumAquamarine: #1ABC9C;
$MediumPurple:#9370DB; 
$RebeccaPurple: #663399;
$Thistle: 	#D8BFD8;

$blanco: #FFFFFF;
$blancoOpaco: #D6DBDF;
$silver: #85929E;
$gris: #6b7280;
$grisClaro: #f3f4f6;
$grisOscuro: #4B5563;
$negro: #000;

$separacion: 5rem;